<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionType" value="Sql"/>
    <add key="SqlServer" value="ServerName"/>
    <add key="SqlDB" value="DBName"/>
  </appSettings>
</configuration>